#header{
  text-align: center;
  margin:1vw 0;
  padding: 0;
  width:100%;
}
#header h1{
  font-size: 2vw;
  margin:0;
  padding:0;
}
#footer{
  font-size:1.1vw;
  width:100%;
  margin:1vw 0;
  padding: 0;
  text-align: center;
}
#footer #copyrightDiv{
  width:33%;
  margin:auto;
  padding:0;
}