#navBar {
    position: absolute;
    right: 0;
    top: 0;
    background-color: blue;
    color: white;
}
#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navBar ul li {
    display: inline;
    padding: 1em;
}
#navBar ul li a {
    color: white;
    text-decoration: none;
}
#navBar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.33);
}
